header {
	color: black; 
	font-family: "Lato-Bold";
}

body {
	background-color: none;
	background-image: url(../img/blank-paper-sheet.jpg);
	font-family: "Play";
	font-size: 18px;
	margin: 10%;
	color: dimgrey;

}

.header1 {
		font-size: 60px;
		color: black;
		text-decoration: underline;
		font-family: "VastShadow-Regular";
		text-align: center;
		padding-bottom: 10px;
		padding-top: 10px;

	}
.headerd {
		font-family: "oswald";
		color: dimgrey;
		border-color: white;
		padding: 10px;
		margin: bottom;
		width: 100%;
		text-indent: right

	}

button {
		padding: 10px;
		margin-bottom: 20px;
		margin-top: 10px;
		display: inline-block;
  		border-radius: 4px;
  		cursor: pointer;
  		background-color: palegoldenrod;
  		height: 50px;
		
	}


footer {
	position: relative;
	margin: left;
	margin: top;
	font-family: "Fresca-Regular";
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 5px;
	padding-top: 10px;
	font-weight: normal;
	list-style-type: square;
	width: 100%;
	height: 110px;
	box-sizing: border-box;
	z-index: 15;
}

.sidenav {
    height: 70%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 10px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin: left;
    font-family: "MerriweatherSans-Regular";
}


.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}