/*! --incoporate the old Back and body chiropractic loading header-blocks --!*/


header {
	color: black; 
	font-family: "Lato-Bold";
}

a {
		padding-bottom: 10px;
		float: center;
		color: silver;
}

body {
	background-color: none;
	background-image: url(../img/bouquet-of-plumeria-flowers.jpg);
	font-family: "Play";
	font-size: 18px;
	margin: 10%;
	color: dimgrey;

	}

.container {
	text-align: left
}

	.nav {
		position: top center;

	}

	.row:after; {
		content: "";
	    display: table;
	    clear: both;
	}

	.column {
	    padding: 10px;
	    border: 1px solid silver;
	    margin: 0px;
	    text-indent: 20%;
	    float: left;
	    position: relative;

	}

	.column.nav {
		color: dimgrey;
		width: 15%;
		height: 40px;
		list-style-type: none;
		font-family: "play";
		margin: bottom;
		margin: top;
		text-align: center;
		background-color: none;
		display: inline-block;

	}

	
	.summary {
		color: black;
		width: 100%;
		font: "Bank Gothic";
		font-weight: bold;
		font-size: 20px;
	}


	.row-summary {
		font: "play";
		font-size: 16px;
		text-align: left;
	}

	.header1 {
		font-size: 60px;
		color: black;
		text-decoration: underline;
		font-family: "Bank Gothic";
		font-weight: bold;
		text-align: center;
		padding-bottom: 10px;
		padding-top: 10px;
		width: 100%;

	}
	.headerd {
		font-family: "play";
		color: dimgrey;si
		border-color: white;
		padding: 10px;
		margin: bottom;
		width: 100%;
		text-indent: right

	}

	.section-header {
		color: dimgrey;
		text-decoration: underline;
		font-family: "Bank Gothic";
		font-weight: bold;
		font-size: 24px;
		text-align: center;
		padding-bottom: 10px;
		padding-top: 10px;
		width: 100%;
	
	}

	.intro {
		background-image: url(../img/technology-background2.jpg);
		font-family: "Bank Gothic";
		color: black;
	}

	h1, h2, h3, h4 {
		text-align: center;
		font-family: "Bank Gothic";
		color: dimgrey;	
		margin: bottom;
		padding-bottom: 5px;
		padding-top: 5px;
	}

	h1 {
		font-size: 25px;
		font-weight: bold;
	}

	h2 {
		text-decoration: underline;
		font-size: 18px;
		font-weight: bold;
		margin: left;
	}

	h3  {
		font-weight: normal;
		margin: left;
		font-size: 16px
	}
	
	h4  {
		font-weight: normal;
		margin: left;
		font-size: 14px;
		padding-bottom: 10px;
	}
	
	table {
		border-spacing: 2em;
		border-style: double;
		font-family: "Play";
		
	}

	ul {
		font-weight: bold;
		font-size: 18px;
		text-align: left;

	}

	li {
		font-size: 14px;
		padding: 2px;
		margin: left;
		margin: 5px;
		text-indent: none;

	}

	ol, ul {
		font-size: 14px;
		padding: 2px;
		margin: left;
		margin: 5px;
		text-indent: none;
	}	

	.paragraph1 {
		margin-right: 10px;
		font-family: "play";
		padding-bottom: 10px;
		text-align: left;

	}

	.bullet1 {
		list-style-type: square;
		padding-bottom: 5px;
	}

	.bullet2 {
		list-style-type: square;
		padding-bottom: 5px;
	}

	.img2 {
		margin: bottom;
		width: 60%;
		padding: 10px;
		position: left;
	}


	.hr {
		outline-style: solid;
		outline-color: steelblue;
	}

	/*! -- define column formatting for the following:
	 	<div class="row-company"> COMPANY1 </div>
          <div class="column-job-title">JOBTITLE1</div>
          <div class="column-date-range">DATE RANGE1</div>
          <div class="column-description">JOB DETAILS1</div>
          <div class="column-accomplishments">ACCOMPLISHMENTS1</div>
	!*/
	.summary {
		width: 100%;
		font-size: 14px;
		font-weight: normal;
		padding-bottom: 5px;
		padding-top: 10px;

	}
	
	.work {
		border-style: none;
		font: "play";
	}

	.row-company {
		width: 100%;
		font-size: 18px;
		font-weight: bold;
		padding-bottom: 5px;
		padding-top: 10px;
		
	}
	.column-job-title {
		width: 50%;
		font-size: 16px;
		font-weight: normal;
		font-style: italic;
	}

	.column-date-range {
		width: 50%;
		font-size: 14px;
		font-weight: normal;
		font-style: italic;
	
	}
	.column-description {
		width: 100%;
		font-size: 14px;
		font-weight: normal;
		padding-bottom: 5px;

	}

	.column-accomplishments {
		width: 100;
		font-size: 14px;
		font-weight: normal;
		padding-bottom: 5px;
		font-style: italic;
		text-align: left;
		text-indent: none;
	}
	
	.skills {
		width: 100%;
		font-size: 14px;
		font-weight: normal;
		padding-bottom: 10px;
		font-weight: normal;
		list-style-type: square;
		font-family: "play";
	}
	.addex {
		width: 100%;
		font-family: "play";
		font-size: 14px;
		font-weight: normal;
		padding-bottom: 10px;
		font-weight: normal;
		list-style-type: square;
		
}
	.awards {
		width: 100%;
		font-size: 14px;
		font-weight: normal;
		padding-bottom: 5px;
		font-weight: normal;
		list-style-type: square;
		font-family: "play";
}
	.projectimg {
		padding: 10px;
		width: 60%;
		margin-bottom: 20px;
}
	form {
		padding: 25px;
	}


		.label {
			padding: 10px;
			border: none;
		}


		.ul {
			list-style: square;
			color: navy;
			background-color: white;

		}

footer {
	position: relative;
	margin: left;
	margin: top;
	font-family: "Fresca-Regular";
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 5px;
	padding-top: 10px;
	font-weight: normal;
	list-style-type: square;
	width: 100%;
	height: 110px;
	box-sizing: border-box;
	z-index: 15;
}

	.container {
		text-align: center;
	}

button {
		padding: 10px;
		margin-bottom: 20px;
		margin-top: 10px;
		display: inline-block;
  		border-radius: 4px;
  		cursor: pointer;
  		background-color: palegoldenrod;
  		height: 50px;
		
	}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


	